.topContainer__container{
 padding-top: 100px ;
/* height: auto; */
margin-bottom: 100px;
}


/* cta  */

.cta{
    margin-top: 50px;
}
.button{
    text-decoration: none;
    background-color:var(--color-bg);
    padding: 1rem 1rem;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    transition: all 0.9s ease ;
}

.button:hover{
    box-shadow: 5px 1px 21px -2px rgba(3, 201, 136, 0.67);
    background-color: #fff;
color: var(--color-bg);
}

.cv__btn{
    transition: all 0.9s ease ;
    margin-left: 20px;
    text-decoration: none;
   color: #fff;
    padding: 1rem 1rem;
    border-radius: 5px;
    border: 1px solid var(--color-bg);
}

.cv__btn:hover{
    box-shadow: 5px 1px 21px -2px rgba(3, 201, 136, 0.67);
    background-color: #fff;
color: var(--color-bg);
}

/*  image */
.name{
    color:var(--color-bg) ;
}
.image{
    position: relative;
    border-radius: 2rem;
    width:100% !important;
    background-color: var(--color-bg);
    padding: 5px 5px;
    /* -webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both; */
}
.Vib{
    z-index: 5;
    box-shadow: 5px 1px 21px -2px rgb(242, 242, 242);
    background-color: red;
    
    position: absolute;
    top: 100px;
    padding: 5px 20px;
    font-size: 1.3rem;
    left: -60px;
    border-radius: 10px;
    /* width: 450px;
    height:400px; */
    -webkit-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
}
@-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }

.image img{
    /* background-position: top; */
    border-radius: 2rem;
    width: 100%;
}

.social__icons{
font-size: 3rem;
    color: var(--color-bg);
}
.social{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 120px;

}
.linkedin:hover{
color: #0A66C2;

}
.github:hover{
    color: #fff;
}

@media screen and (min-width:1400px){
    .topContainer__container{
        height: 100vh !important;
    }
    
   
   }

 @media screen and (max-width:995px){
    .Vib{
        z-index: 5;
    box-shadow: 5px 1px 21px -2px rgb(242, 242, 242);
    background-color: red;
    
    position: absolute;
    top: 0px;
    padding: 5px 20px;
    font-size: 1.3rem;
    /* right: 0; */
    left: 0px !important;
    border-radius: 10px;
        /* -webkit-animation: vibrate-1 0.3s linear infinite both;
        animation: vibrate-1 0.3s linear infinite both; */
    }
   }